.box-setting {
  width: 380px;
  height: 535px;
  background-color: #eef0f1;
  border-radius: 5px;
}
.box-setting {
  cursor: default;
}
.account-infor {
  position: relative;
  height: 240px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}

.account-infor h3,
.user-infor h3 {
  padding: 13px 0;
  margin: 0;
  font-weight: 500;
  margin-left: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}
.box-setting .icon-back {
  font-weight: 100;
  color: #7589a3;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.account-infor .btn-close {
  width: 25px;
  height: 25px;
  font-weight: 100;
  color: #7589a3;
  margin: auto 10px;
  border-radius: 50%;
  padding: 5px;
}
/* .account-infor .icon-back:hover, */
.account-infor .btn-close:hover {
  background-color: #dfe2e7;
  cursor: pointer;
}
.account-infor .cover-img img {
  width: 380px;
  height: 150px;
}
.account-infor .avatar-img img {
  /* right: 50%; */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
}
.account-infor .avatar-img {
  position: absolute;
  top: 70px;
  left: 35%;
}
.account-infor .icon-camera {
  position: absolute;
  font-size: 20px;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  background-color: #eaedf0;
  cursor: pointer;
  top: 153px;
  left: 57%;
}
.account-infor .username,
.box-setting.icon-back,
.box-setting .icon-edit {
  text-align: center;
  /* padding: 3px; */
  font-size: 20px;
  font-weight: 500;
  margin: 7px 2px;
}
.account-infor .username {
  cursor: default;
}
.box-setting .user-infor {
  background-color: white;
  border-radius: 5px;
  height: calc(535px - 290px);
}
.box-setting table {
  margin: 0 20px;
}

.box-setting td:first-child {
  width: 130px;
  margin-left: 20px;
  color: #7589a3;
}
.box-setting .wrap-btn-update {
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: pointer;
  padding: 3px 0;
  width: 350px;
  margin: auto;
  border-radius: 3px;
}
.box-setting .wrap-btn-update:hover {
  background-color: #dfe2e7;
}
.box-setting .change-avatar {
  position: relative;
  height: calc(535px - 55px);
  border-radius: 5px;
  background-color: white;
}
