.loadding-title-container {
  display: block;
  margin: auto;
  height: 100vh;
  width: 100vw;
  background-color: #f6fafa;
}
.loadding-title-container h2 {
  display: block;
  font-weight: 700;
  color: #0190f3;
  text-align: center;
  margin: 0;
  line-height: calc(100vh - 400px);
  font-size: 65px;
}

.container-cc {
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  transform-origin: center;
  animation: rotate 2s ease forwards infinite;
}

.circle {
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.circle:nth-child(1) {
  left: -100px;
  animation: slideleft 2s ease forwards infinite;
}

.circle:nth-child(2) {
  left: 100px;
  top: -40px;
  animation: slideright 2s ease forwards infinite;
}

@keyframes rotate {
  0% {
    background: #00e5ff;
    transform: rotate(0deg);
  }
  25% {
    background: #aa00ff;
  }
  50% {
    background: #0761ff;
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    background: #00e5ff;
  }
}

@keyframes slideleft {
  0% {
    background: #00e5ff;
    transform: translatex(0px);
  }
  25% {
    background: #aa00ff;
    transform: translatex(-100px);
  }
  50% {
    background: #0761ff;
    transform: translatex(0px);
  }
  100% {
    background: #00e5ff;
  }
}

@keyframes slideright {
  0% {
    background: #00e5ff;
    transform: translatex(0px);
  }
  25% {
    background: #aa00ff;
    transform: translatex(100px);
  }
  50% {
    background: #0761ff;
    transform: translatex(0px);
  }
  100% {
    background: #00e5ff;
  }
}
