.container-containermess {
  width: calc(100vw - 65px - 350px - 300px);
  height: 100vh;
}
.top-container {
  height: 70px;
  border-bottom: 1px solid rgb(209, 209, 209);
  justify-content: space-between;
}
.zavatar {
  margin: 6px 6px 6px 12px;
}
.zavatar img {
  margin: auto;
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.friend-mess-infor {
  display: block;
  margin: auto 10px;
}
.friend-mess-infor h3 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}
.friend-mess-infor p {
  font-size: 14px;
  font-weight: 500;
  color: #7589a3;
}

.group-choice {
  align-items: center;
}
.group-choice img:hover {
  background-color: #eaedf0;
  border-radius: 50%;
}

.infor-container {
  height: calc(100vh - 180px);
}

.footer-chat {
  height: 110px;
}
.chat-input {
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: #fbf8f8;
  border-bottom: 1px solid rgb(209, 209, 209);
  border-top: 1px solid rgb(209, 209, 209);
}
.chat-input-web {
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.chat-input-web input {
  width: 100%;
  display: block;
  line-height: 40px;
  margin: auto 20px auto 10px;
  border: none;
  outline: none;
  font-size: 15px;
}
.container-containermess .icon-header {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.container-containermess .icon-header:hover {
  background-color: #d6dbe1;
  border-radius: 5px;
}
.container-containermess .icon-send-mess:hover {
  background-color: #4ca8ec !important;
  color: white !important;
}
.wrap-setbackground {
  position: relative;
}

.set-background {
  display: none;
  position: absolute;
  top: -140px;
  left: -40px;
  z-index: 10;
  width: 130px;
  height: 130px;
  background-color: rgb(215, 233, 241);
  border-radius: 10px;
}
.set-background-active {
  display: block;
}
.ul-set-background {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  writing-mode: vertical-rl;
}
.set-background li {
  width: 20px;
  height: 20px;
  display: block;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.wrap-input-chat {
  display: flex;
  width: 100%;
}
