body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}
.textcenter {
  text-align: center;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
.none {
  display: none;
}
input,
button {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}
input:focus,
button:focus {
  border: none;
  outline: none;
}
input::placeholder {
  color: #7589a3;
}
